/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}

/* Navbar buttons */
.create_btn,
.back_to_recipes {
    margin-right: 50px;
}

/* Action links */
.act_links {
    text-decoration: none;
    font-size: larger;
}